@import url("../two-columns/two-columns.css");

@import url("../two-columns/_block_description/two-columns_block_description.css");

.description {
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}