.footer {
    background-color: #1f1f1f;
    /* border: 1px solid red; */
    margin: 0 auto;
    min-height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
}

/* .footer__column_content_info {
    border: 2px solid red;
}

.footer__column_content_social {
    border: 2px solid red;
}

.logo_place_footer {
    border: 2px solid red;
} */