.footer {
    background-color: #1f1f1f;
    border: 1px solid red;
    margin: 0 auto;
    min-height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
}

.footer__columns {
    margin-top: 60px;
    margin-bottom: 40px;
    width: 90%;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__column_content_copyright {
    flex-basis: 711px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid red;
}

.footer__column_content_info {
    border: 2px solid red;
}

.footer__column_content_social {
    border: 2px solid red;
}

.logo_place_footer {
    border: 2px solid red;
}

.footer__author {
    margin: 18px 0;
    border: 1px solid red;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
}

.footer__column-heading {
    margin: 0;
    border: 1px solid red;
    line-height: 18px;
    font-weight: 600;
    font-size: 18px;
}

.footer__column-links {
    margin: 20px 0 16px;
    border: 1px solid red;
    line-height: 18px;
    font-weight: normal;
    font-size: 18px;
}

.footer__paragraph {
    margin: 0 0 10px;
}

.footer__column-link {
    text-decoration: none;
    color: white;
}

.footer__column-link:hover {
    text-decoration: underline;
}

.footer__paragraph:last-of-type {
    margin: 0;
}

.footer__social-icon {
    width: 16px;
    height: 16px;
    margin: 0;
}