@import url("./__columns/footer__columns.css");

@import url("./__column/_content_copyright/footer__column_content_copyright.css");

@import url("../logo/logo.css");

@import url("../logo/_place_footer/logo_place_footer.css");

@import url("./__author/footer__author.css");

@import url("./__column-heading/footer__column-heading.css");

@import url("./__column-links/footer__column-links.css");

@import url("./__paragraph/footer__paragraph.css");

@import url("./__column-link/footer__column-link.css");

@import url("./__social-icon/footer__social-icon.css");

.footer {
    background-color: #1f1f1f;
    /* border: 1px solid red; */
    margin: 0 auto;
    min-height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
}

/* .footer__column_content_info {
    border: 2px solid red;
}

.footer__column_content_social {
    border: 2px solid red;
}

.logo_place_footer {
    border: 2px solid red;
} */